<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:if="${listOfTrainingSessions != null}" class="row">
        <div class="list-group" th:each="trainingSession : ${listOfTrainingSessions}">
            <a href="#" class="list-group-item active" th:text="${trainingSession.title}" ></a>
            <p class="list-group-item-text" th:text="${trainingSession.description}"></p>
        </div>
    </div>
</div>
</body>
</html>